<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content=""> <!-- Put you name in content -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>COGS 121 - Assignment 1</title>


    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/star-rating.css" rel+"stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="ratingassets/css/style.css"> -->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/chart.js"></script>

</head>

<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">

        <!-- Help/Documentation Start-->
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn-doc btn-help btn-lg" data-toggle="modal" data-target="#myModal" data-backdrop="false">?</button>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/logout">Logout</a></li>
          </ul>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/courses">Courses</a></li>
          </ul>
        </div>

        <!-- Help/Documentation End-->

          </div> <!-- container -->
        </div> <!-- navbar navbar-default navbar-fixed-top -->
    </header>

    <section id="coursepaddingtop">
        <div id="inner">
            <p id="coursetextboxtitles">{{course.course_name_firstHalf}} ({{rating}} stars)</p>
            <p id="coursetextboxtitles" style="font-size:20px;">  {{course.course_name_secondHalf}}</p>
            <div id="courseinfo">{{course.course_info}}
            </div></div>
    </section>

    <section id="bodypaddingtop">
        <div id="inner">
            {{#if userRated}}
            <div>
                You have rated this course.
            </div>
            {{else}}
            <!-- Radio Rating -->
            <form method="post" action="/postRating">
            <!-- <form method="post" action="/checking"> -->
                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-9">
                        <div align="center">
                            <input type="hidden" name="courseid" value={{course.course_id}}>
                            <input type="hidden" name="coursename" value="{{course.course_name}}">
                            <input type="hidden" name="courseinfo" value="{{course.course_info}}">
                            <input type="hidden" name="courseprof" value="{{course.course_prof}}">
                            <label>
                                1 <input type="radio" id="q128" name="ratingValue" checked="checked" value="1" />
                            </label> 
                            <label>
                                2 <input type="radio" id="q129" name="ratingValue" value="2" />
                            </label> 
                            <label>
                                3 <input type="radio" id="q130" name="ratingValue" value="3" />
                            </label> 
                            <label>
                                4 <input type="radio" id="q131" name="ratingValue" value="4" />
                            </label> 
                            <label>
                                5 <input type="radio" id="q132" name="ratingValue" value="5" />
                            </label>
                            <input type="submit" class="btn-rate btn-primary" value="Submit Rating" onclick="return confirm('Are you sure you want to submit this rating?')">
                        </div>
                    </div>
                </div>
            </form>
            {{/if}}
            <br>

            <form id="send_message" action="">
                <input id="user_input" placeholder="WHAT'S YOUR OPINION?" autocomplete="off" autofocus/>
            </form>

            <ul id="messages">
                {{#each newsfeed}}
                <hr>
                <li>
                    <div class="user">
                        <div class="user-image">
                            <img src="{{photos.value}}" alt="">
                        </div>
                        <div class="user-info">
                            <span class="username">{{user}}</span>
                            <br/>
                            <span class="posted">{{posted}}</span>
                        </div>
                    </div>
                    <div class="message-content">
                        {{message}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <form style="display: none"><input id="courseID" type="hidden" value="{{course.course_id}}"></form>
    </section>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Help Page:</h4>
              </div>

        <div class="col-lg-8 col-lg-offset-2 centered">
        <h3>What is HONESTCAPES?</h3>
        <p>HONESTCAPES is a social media wesbite designed by UCSD students, for UCSD students. It's a scaled-down, minimalistic version of CAPEs, which allows you to rate and comment about your professor/class without the hassle.</p>

        <h3>How do I start?</h3>
        <p>Begin by logging in with your Twitter account. From there, go ahead and search either the course name or the professor whose class you wish to review or learn more about. Click on the corresponding class, and then you can rate the class, make comments about any aspect of it (uncensored!), or read posts that others have made for a better sense of what that class is about.
        </p>

        <h3>What makes HONESTCAPES different than CAPEs, or even RateMyProfessor?</h3>
        <p> HONESTCAPES provides a melding balance between the two, taking what we considered the most important aspects of both. Like CAPEs, you're not limited to searching for only a professor or only a class--both options are available to you. Like RateMyProfessor, HONESTCAPES does not go through the school, so you can say what you want without feeling restricted. Additionally, HONESTCAPES keeps its interface minimal and clean, so you don't have to answer a bunch of unecessary questions the way CAPEs makes you do. It's CAPEs, but free. Therefore, HONESTCAPES.</p>

        <h3>Criticism</h3>
        <p>Your feedback is extremely important as it makes it easier for us to focus 
        on the right stuff. We encourage you to share your ideas and criticism because 
        they play a vital role in the process of building a useful app for you! </p>
                    </br>
                    
                </div><!-- /col-lg-8 -->

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    <footer>
        &copy; COGS 121 Spring 2016
    </footer>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/socket.io.min.js"></script>
    <script src="./js/chatbox.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/radio.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>

</html>

